body{

}

.hat{
    position: relative;
    width: 600px;
    height: 600px;
    background: lightgrey;
}

.circle {
  width: 350px;
  height: 250px;
  background: black;
  position: absolute;
    top: 90px;
    left: 100px;
  border-radius: 50%
}
.rectangle {
  width: 348px;
  height: 130px;
  background: black;
  position: absolute;
    top: 200px;
    left: 101px;
}
 .oval {
      width: 480px;
      height: 50px;
      background: black;
      border-radius: 100px / 50px;
      position: absolute;
    top: 300px;
    left: 101px;
    }

  h1{
    font-family: helvetica;
    margin: auto;

    }

