*{
	background-color: rgb(173,216,230,);
	font-family: arial;

	
}
#container{
	font: courier;
}

h1{

background-color: rgb(255,255,0,.25);

font-synthesis: bold;


}

p{
	font-family: arial;
	font-synthesis: bold;
}

li{
	font-family: arial;
}

.desc{
	font-family: arial;
	font-synthesis: bold;
}