*{
	background-color: rgb(173,216,230,);
	margin: auto;
	padding-top: 20px;
	border: blue: 1px;
}

body{
	background-color: rgb(173,216,230,);
}

#container{
	font: courier;
}

h1{

background-color: rgb(255,255,0,.5);

font-family: arial;
font-synthesis: bold;


}

p{
	b
	font-synthesis: bold;
	font-family: arial;
	
}

li{
	font-family: arial;
}

.desc{
	font-synthesis: bold;
	font-family: arial;
	
}