*{
	
	
	background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	
	
	
}

@font-face{
	font-family: "YE-Display";
	src: url("../css/Typeface/YE-Display.woff") format("woff");
	src:url("../css/Typeface/YE-Display.woff2") format("woff2");
}

body{
background: rgb(213,134,169);
background: linear-gradient(0deg, rgba(213,134,169,1) 0%, rgba(4,96,204,1) 100%);


}

video{
	padding-top: 20px;
	margin-right: 20px;
	width:400px; 
	height: auto;
	display:block;
	float:left;
	padding: 10px;
	mix-blend-mode: hard-light;
	opacity: 70%;
}

#container{
	padding-top: 20px;
	width: 420px; 
	height:750px;
	/*background:  rgba(131,58,180,1);
	*/

}

h1{

	padding-top: 20px;


color: white;
font-family: 'Yeseva One', cursive;
font-synthesis: bold;
font-size: 38px;



}

h2{
	
color: white;
font-family: 'Yeseva One', cursive;
font-synthesis: bold;
font-size: 50px;


}
h3{
	
color: white;
font-family: 'Yeseva One', cursive;
font-synthesis: bold;
font-size: 38px;



}

p{

	font-size: 22px;
	color:lightblue;
	background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	font-synthesis: bold;
	font-family: 'Roboto', sans-serif;
	
}

h4{
color: white;
font-family: 'Yeseva One', cursive;
font-synthesis: bold;
font-size: 38px;}

li{
	color:lightblue;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
}

a:link {
	font-family: 'Roboto', sans-serif;
	color:lightblue;
	font-size: 22px;
  
  
}

a:visited {
	font-family: 'Roboto', sans-serif;
	color:lightblue;
  
  
}

/* mouse over link */
a:hover {
	font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: medium;
  color:darkblue;
  

}

.desc{
	color:lightblue;
	font-synthesis: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	
}