* {
	margin: 0px;
	padding: 0px;
}

body {
	background: white;	
    font-family: helvetica;
    font-size:14;
}

/* navigation */

nav {
	padding: 30px;
}

.b{
    padding 60px;
}

/* left side */

#left-circle {
        position: absolute;
    	top: 250px;
    	left: 200px; 
        transform: translate(-50%, -50%); 
        height: 200px; 
        width: 100px; 
        border-radius: 150px 0 0 150px; 
        
        background-color: black;
        }

#left-counter {

	 position: absolute;
    	top: 100px;
    	left: 63px; 
        transform: translate(-50%, -50%); 
        height: 150px; 
        width: 75px; 
        border-radius: 150px 0 0 150px; 
        
        background-color: white;


}

#right-circle{
	    position: absolute;
    	top: 225px;
    	left: 300px; 
        transform: translate(-50%, -50%); 
        height: 200px; 
        width: 100px; 
        border-radius: 0 150px 150px 0; 
        
        background-color: black;
}

#right-counter {

	 position: absolute;
    top: 225px;
    left: 287px;
        transform: translate(-50%, -50%); 
        height: 150px; 
        width: 75px; 
        border-radius: 0 150px 150px 0; 
        
        background-color: white;
        }
#left-stem {
    width: 25px;
    height: 240px;
  background: black;
  position: absolute;
top: 23px;
    left: 150px;
}