* {
	margin: 0px;
	padding: 0px;
}

body {
	background: white;	
}

/* navigation */



/* stage */

#left-circle {
 position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        height: 100px; 
        width: 200px; 
        border-radius: 150px 150px 0 0; 
        background-color: green; 
}

/* images */


}