
* {
  box-sizing: border-box;

}

@font-face{
  font-family: ff-ernestine-pro, serif;

font-weight: 400;

font-style: normal;


}
/* Create two equal columns that floats next to each other */
.column-1 {
  
float: left;
  width: 50%;
  padding: 10px;
  height: 300px;


  
   /* Should be removed. Only for demonstration */
}

.column-2{
 
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}



#upper-left { 
   color:red;
  writing-mode: vertical-lr; 
 vertical-align: baseline;
}

#lower-left { 
  color:red;
  writing-mode: vertical-lr; 
 vertical-align: baseline;
 

}

#lower-right{
  color: blue;
}


/* Clear floats after the columns */
.row-1:after {
  content: "";
  display: table;
  clear: both;
}



.row-2:after{
  content: "";
  display: table;
  clear: both;
}

h2{
  font-size: 400px;
  mix-blend-mode: screen;

font-family: 'Fira Sans Condensed', sans-serif;
}





#site{
  writing-mode: vertical-lr;
  position: absolute;
  top: 90%;
  left: 20px;
  
  color: red;

  }

#book{
  font-family: 'Fira Sans Condensed', sans-serif;
  position: absolute;
  top: 20px;
  left: 80%;
  
  color: blue;
  /*transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);*/
}



h1{
font-size: 28px;
font-weight:thin 100;
font-family: 'Fira Sans Condensed', sans-serif;
c
}








.overlay-2{
  position: fixed;
  top: 0px;
  left: 0%;
  font-size: 150px;
}


.color{
  float: left;
  width: 896px;
  padding: 0px;
  height: 1100px;
  background-blend-mode: screen;

}

#red{
  opacity: 40%;
  background-color: red;
  mix-blend-mode: screen;
}

#blue{
  opacity: 40%;
  background-color: blue;
  mix-blend-mode: screen;
}







.row-3{
  height:1400px
  width:700vw;

}

h5{
  height:700px;
}






h6{
font-kerning: 15px;
  font-size: 100px;
  mix-blend-mode: screen;
  height: 0px;

font-family: 'Fira Sans Condensed', sans-serif;
}














.title{

  float: left;

  width: 50%;
  padding: 10px;
  height:400px;

   
  
}





#left{
color:red;

}


#right{
  color:blue;
  
  
}

h4{
  font-kerning: 15px;
  font-size: 110px;
  mix-blend-mode: screen;

font-family: 'Fira Sans Condensed', sans-serif;
}










.row-row-6{

  float: left;

  width: 50%;
  padding: 10px;
  height: 50px;
  
}

#zero{
color:red;
}

#zero-two{
  color:blue;
}











.column-one {
  
float: left;

  width: 50%;
  padding: 10px;
  height: 350px;
  color:red;


  
   /* Should be removed. Only for demonstration */
}

.column-two{

 
  float: left;
  width: 50%;
  padding: 10px;
  height: 350px;
  color:blue;
}


p{
  font-size: 20px;
  mix-blend-mode: screen;

font-family: 'Fira Sans Condensed', sans-serif;
}









